body{
    margin:0;
    overflow:hidden;
    background:#020817;
}


#header{
    height:40px;
    background:#111827;
    color:rgb(255, 255, 255);

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 20px;
    box-sizing:border-box;
}

#gamecanvas{
    display:block;
}